<%= _.template(require('./../includes/header-index.html'))() %>
  <main class="main">
    <header class="firstscreen">
      <div class="container container_xxxl">
        <div class="d-flex d-xl-none justify-content-center align-items-center">
          <div class="logo logo_main"></div>
        </div>
        <div class="firstscreen__inner">
          <div class="d-xl-none">
            <div class="h1-index h1-index_main" style="display: block;">
              <span class="row1">Combinations for your</span><br>
              <span class="row2">Best & Hot</span><br>
              <span class="row3">Evening</span>
            </div>
            <div class="h1-index h1-index_search" style="display: none;">Searching<br>your best<br>matches</div>
          </div>
          <div class="fs-collage order-xl-2">
            <div class="fs-collage__img img1"></div>
          </div>
          <div class="firstscreen__info firstscreen__info1 order-xl-1">
            <div class="d-none d-xl-block logo logo_main"></div>
            <div class="d-none d-xl-block">
              <div class="h1-index h1-index_main" style="display: block;">
                <span class="row1">Combinations for your</span><br>
                <span class="row2">Best & Hot</span><br>
                <span class="row3">Evening</span>
              </div>
              <div class="h1-index h1-index_search" style="display: none;">Searching<br>your best<br>matches</div>
            </div>
            <div class="fsi-btn">
              <button class="btn btn_1 btn-index" style="display: block;">Unlock My Matches</button>
              <div class="search-progress progress" style="display: none;">
                <div class="search-progress__title">
                  <span class="search-progress__span search-progress__span1" style="display: inline">by locations</span>
                  <span class="search-progress__span search-progress__span2" style="display: none">by interests</span>
                  <span class="search-progress__span search-progress__span3" style="display: none">by gender match</span>
                  <span class="search-progress__value">60%</span>
                </div>
                <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="secondscreen secondscreen_1" style="display: block;">
      <div class="container container_xxxl">
        <div class="row">
          <div class="col">
            <h2 class="h2_index">Release my&nbsp;<br class="d-xl-none">combinations</h2>
            <p class="pmain">We have created a unique combination system that consists of three main factors that produce
              similarity of thought and productive connections: Life, freedom and culture. NF, in an abbreviated
              form, connects people who have interests in similar activities, passions and future aspirations. We
              also add our own personal touch to the online dating process ensuring that your experience is
              special and exclusive to you.</p>
            <p class="pmain">Instead of spending weeks looking for your best combination, we send you a personalized combination
              every day by email. As these presentations have been carefully selected based on your NF (Life,
              Freedom and Culture) score, you can spend more time talking or planning your first night out.</p>
          </div>
        </div>
      </div>
    </section>
  </main>
<%= _.template(require('./../includes/footer.html'))() %>
