<%= _.template(require('./../includes/header.html'))() %>

  <div id="page-preloader" class="preloader">
    <div class="loader"></div>
  </div>

  <main class="main">
    <header class="header">
      <div class="container">
        <div class="d-flex justify-content-center align-items-center">
          <div class="logo"></div>
        </div>
        <h1>Who are you looking for today?</h1>
      </div>
      <div class="choice-wrap">
        <div class="choice" style="display: block;">
          ...
        </div>
      </div>
    </header>

    <section class="block video">
      <div class="container">
        <div class="row">
          <div class="col">
            ...
          </div>
        </div>
      </div>
    </section>

    <section class="block block_light categories">
      <div class="container">
        <div class="row">
          <div class="col">
            ...
          </div>
        </div>
      </div>
    </section>

    <section class="block blog">
      <div class="container">
        <div class="row">
          <div class="col">
            ...
          </div>
        </div>
      </div>
    </section>

  </main>

<%= _.template(require('./../includes/random-header-js.html'))() %>

<%= _.template(require('./../includes/footer.html'))() %>
