/* font-family: "CeraPro"; */

@font-face {
  font-family: 'CeraPro';
  src: url('../fonts/CeraPro/CeraPro-Regular.eot');
  src: url('../fonts/CeraPro/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CeraPro/CeraPro-Regular.woff2') format('woff2'),
  url('../fonts/CeraPro/CeraPro-Regular.woff') format('woff'),
  url('../fonts/CeraPro/CeraPro-Regular.ttf') format('truetype'),
  url('../fonts/CeraPro/CeraPro-Regular.svg#CeraPro-Regular') format('svg');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'CeraPro';
  src: url('../fonts/CeraPro/CeraPro-Bold.eot');
  src: url('../fonts/CeraPro/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CeraPro/CeraPro-Bold.woff2') format('woff2'),
  url('../fonts/CeraPro/CeraPro-Bold.woff') format('woff'),
  url('../fonts/CeraPro/CeraPro-Bold.ttf') format('truetype'),
  url('../fonts/CeraPro/CeraPro-Bold.svg#CeraPro-Bold') format('svg');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'CeraPro';
  src: url('../fonts/CeraPro/CeraPro-Black.eot');
  src: url('../fonts/CeraPro/CeraPro-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CeraPro/CeraPro-Black.woff2') format('woff2'),
  url('../fonts/CeraPro/CeraPro-Black.woff') format('woff'),
  url('../fonts/CeraPro/CeraPro-Black.ttf') format('truetype'),
  url('../fonts/CeraPro/CeraPro-Black.svg#CeraPro-Black') format('svg');
  font-style: normal;
  font-weight: 900;
}
