.footer {
  background-color: $btn_bg_color;
  position: relative;
  text-align: center;

  .footer__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 992px) {
      flex-direction: row;
    }
  }

  a.footer__link {
    font-family: $font_family2;
    font-weight: 400;
    color: $footer_text_color;
    font-size: 14px;
    line-height: 1;
    text-decoration: underline;
    transition: text-decoration 0.5s linear;
    position: relative;
  }
  a.footer__link:hover {
    color: $footer_text_color_hover;
    text-decoration: none;
  }
  a.footer__link:active {
    color: $footer_text_color_active;
    text-decoration: none;
  }
  a.footer__link {
    + a.footer__link {
      margin-top: 26px;
    }
  }
  @media (min-width: 992px) {
    a.footer__link {
      font-size: 17px;
    }
    a.footer__link {
      margin: 0;
      + a.footer__link {
        margin-top: 0;
        margin-left: 42px;
        &::before {
          content: '';
          cursor: auto;
          height: 16px;
          width: 1px;
          background-color: $bg_light_1;
          position: absolute;
          left: -21px;
          top: 1px;
        }
      }
    }
  }

  .footer__copyright {
    font-size: 15px;
    line-height: 25px;
    margin: 45px 0 0;
    color: $footer_text_color;
    @media (min-width: 992px) {
      font-size: 17px;
      line-height: 25px;
      margin: 0 0 19px;
    }
  }

}

.footer__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 57px 0 50px;
  @media (min-width: 992px) {
    padding: 50px 0;
  }
}
