$main-img-width: 398px;
$main-img-height: 296px;

$login-img-width: 410px;
$login-img-height: 304px;

$main-img-width-xl: 660px;
$main-img-height-xl: 480px;

$main-img-width-xxl: 760px;
$main-img-height-xxl: 550px;

$main-img-width-xxxl: 958px;
$main-img-height-xxxl: 710px;

.header {
  background-color: $bg_light_1;
  &.header_page {
    padding: 19px 0 24px;
    @media (min-width: 1200px) {
      padding: 33px 0 45px;
    }
  }
}

.firstscreen {
  position: relative;
  background-color: $bg_light_1;
}

//.firstscreen_1 {}

.firstscreen__inner {
  display: flex;
  flex-direction: column;
  @media (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.fs-collage {
  width: 280px;
  height: 217px;
  overflow: hidden;
  margin: 0 auto;
  @media (min-width: 328px) {
    width: 288px;
    overflow: auto;
    transform: translateX(-6px);
  }
  @media (min-width: 1200px) {
    transform: none;
    width: 636px;
    min-width: 636px;
    height: 482px;
    margin: 68px 0 88px auto;
  }
  .fs-collage__img {
    background-image: url('../img/bg/main1m.jpg');
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 100%;
    width: 288px;
    height: 217px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    @media (min-width: 328px) {
      position: static;
      transform: none;
    }
    @media (min-width: 1200px) {
      background-image: url('../img/bg/main1.jpg');
      background-repeat: no-repeat;
      background-position: 100% 0;
      background-size: 100%;
      width: 636px;
      height: 482px;
    }

    &.img1 {
      @media (min-width: 1200px) {
        background-image: url('../img/bg/main1.jpg');
      }
    }
    &.img2 {
      @media (min-width: 1200px) {
        background-image: url('../img/bg/main2.jpg');
      }
    }
    &.img3 {
      @media (min-width: 1200px) {
        background-image: url('../img/bg/main3.jpg');
      }
    }
  }
}

.firstscreen__info {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto 40px;
  z-index: 2;
  @media (min-width: 992px) {
    margin: 0 auto 40px;
  }
  @media (min-width: 1200px) {
    margin: 0 38px 0 0;
    width: 380px;
    min-width: 380px;
    z-index: 0;
  }

  // &.firstscreen__info1 {}
  // &.firstscreen__info2 {}
  // &.firstscreen__info3 {}
}

.firstscreen__form {
  width: 256px;
  margin: -50px auto 0;
  @media (min-width: 1200px) {
    width: 328px;
    margin: 0;
  }
}

.fsi-collage {
  width: 100%;
  @media (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}

.fsi-collage__item {
  width: 100%; //280px
  height: 290px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  margin: 0 auto;
  @media (min-width: 380px) {
    height: 460px;
  }
  @media (min-width: 410px) {
    width: 370px;
    height: 460px;
  }
  @media (min-width: 1200px) {
    width: 300px;
    height: 400px;
    margin: 0;
  }
  @media (min-width: 1400px) {
    width: 345px;
    height: 440px;
  }
  @media (min-width: 1650px) {
    width: 370px;
    height: 460px;
  }

  &:nth-child(1) {
    display: none;
    @media (min-width: 1200px) {
      display: block;
    }
  }
  &:nth-child(2) {
    display: none;
    @media (min-width: 1200px) {
      display: block;
    }
  }
  &:nth-child(3) {
    @media (min-width: 1200px) {}
    @media (min-width: 1400px) {}
  }

}
