$main-img-width: 398px;
$main-img-height: 296px;

$login-img-width: 410px;
$login-img-height: 304px;

$main-img-width-xl: 660px;
$main-img-height-xl: 480px;

$main-img-width-xxl: 760px;
$main-img-height-xxl: 550px;

$main-img-width-xxxl: 958px;
$main-img-height-xxxl: 710px;

.header {
  background-color: $bg_light_1;
  padding: 20px 0 60px;
  @media (min-width: 1200px) {
    padding: 80px 0 105px;
  }
}


.firstscreen__form {
  width: 256px;
  margin: -50px auto 0;
  @media (min-width: 1200px) {
    width: 328px;
    margin: 0;
  }
}
