$main-img-width: 398px;
$main-img-height: 296px;

$login-img-width: 410px;
$login-img-height: 304px;

$main-img-width-xl: 660px;
$main-img-height-xl: 480px;

$main-img-width-xxl: 760px;
$main-img-height-xxl: 550px;

$main-img-width-xxxl: 958px;
$main-img-height-xxxl: 710px;

.header {
  background-color: $bg_light_1;
  padding: 20px 0 60px;
  @media (min-width: 1200px) {
    padding: 80px 0 105px;
  }
}

.choose-wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
  @media (min-width: 413px) {}
  @media (min-width: 1200px) {}
}

.choose {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 373px;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  @media (min-width: 373px) {
    left: auto;
    transform: none;
  }
  @media (min-width: 1200px) {
    width: 800px;
  }
  &.choose_1, &.choose_2, &.choose_3, &.choose_4, &.choose_5 {
    display: none;
  }
}

.choice {
  @media (min-width: 1200px) {}
}

.choice__img {
  width: 177px;
  height: 226px;
  border-radius: 22px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  margin-bottom: 12px;
  @media (min-width: 1200px) {
    width: 340px;
    height: 370px;
    margin-bottom: 22px;
  }
}

.choice__name {
  color: $font_color3;
  font-weight: 900;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 1px;
  text-align: center;
  @media (min-width: 1200px) {
    font-size: 22px;
    margin-bottom: 6px;
  }
}

.choice__loc {
  color: $font_color4;
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
  margin-bottom: 9px;
  text-align: center;
  @media (min-width: 1200px) {
    font-size: 22px;
    margin-bottom: 20px;
  }
}
