.secondscreen {
  display: none;

  &.secondscreen_1 {
    padding-top: 46px;
    @media (min-width: 1200px) {
      padding-top: 114px;
    }
  }

  &.secondscreen_2 {
    @media (min-width: 1200px) {}
  }
}

.secondscreen__top {
  background-color: $body_bg_color;
  padding: 0 0 56px;
  @media (min-width: 1200px) {
    padding: 0 0 56px;
  }
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  //overflow: hidden;
  @media (min-width: 1200px) {
    align-items: flex-start;
  }
  .countdown-js {
    width: 100%;
  }
}

.timer__title {
  font-size: 38px;
  text-align: center;
  margin: 113px 0 0;
  @media (min-width: 1200px) {
    text-align: left;
    font-size: 76px;
    margin: 48px 0 0;
  }
}

.timer__title2 {
  font-family: $font_family2;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: $font_color;
  text-align: center;
  margin: 19px 0 52px;
  letter-spacing: 2px;
  @media (min-width: 1200px) {
    text-align: left;
    font-size: 21px;
    line-height: 31px;
    margin: 17px 0 105px;
  }
}

.splide_ulist-extra-login {
  @media (min-width: 576px) {
    margin: 0 auto;
    max-width: 470px;
  }
  @media (min-width: 768px) {
    max-width: 650px;
  }
  @media (min-width: 992px) {
    max-width: 840px;
  }
  @media (min-width: 1200px) {
    max-width: none;
  }
}

.userfbacks {
  margin: 0 auto;
  max-width: 555px;
  padding-bottom: 20px;
  @media (min-width: 1200px) {
    max-width: 967px;
    padding-bottom: 100px;
  }
}

.userfback {
  font-family: $font_family;
  font-weight: 400;
  padding: 11px 0;
  @media (min-width: 1200px) {
    padding: 10px 0;
  }
}

.userfback__inner {
  position: relative;
  padding: 35px 20px;
  background-color: $bg_light_1;
  max-width: 220px;
  min-height: 210px;
  border: 1px solid $bg_dark_2;
  border-radius: 28px;
  @media (min-width: 1200px) {
    max-width: 446px;
    min-height: 190px;
    max-height: 190px;
    padding: 38px 33px;
    border-radius: 53px;
  }

  &::before, &::after {
    position: absolute;
    color: $bg_dark_1;
    line-height: 1;
    font-size: 102px;
    @media (min-width: 1200px) {
      font-size: 111px;
    }
  }

  &::before {
    content: '“';
    top: -26px;
    left: 14px;
    @media (min-width: 1200px) {
      left: 29px;
    }
  }

  &::after {
    content: '”';
    bottom: -72px;
    right: 14px;
    @media (min-width: 1200px) {
      bottom: -77px;
      right: 29px;
    }
  }
}

.userfback__name {
  @media (min-width: 1200px) {}
}

.userfback__txt {
  font-family: $font_family2;
  color: $bg_dark_1;
  font-weight: 400;
  font-size: 13px;
  line-height: 28px;
  @media (min-width: 1200px) {
    font-size: 16px;
    line-height: 28px;
  }
  p {
    line-height: 28px;
    margin-bottom: 5px;
    @media (min-width: 1200px) {
      line-height: 28px;
    }
  }
}

.search-progress {
  @media (min-width: 1200px) {
    margin-top: 40px;
  }
  &.progress {
    width: 100%;
    height: 53px;
    background-color: $btn_bg_color;
    border-radius: 100px;
    position: relative;
    border: 1px solid $bg_dark_2;
    @media (min-width: 1200px) {
      height: 60px;
    }
  }
  .progress-bar {
    height: 100%;
    border: none;
    border-radius: 100px;
    transition: width 0.2s linear;
    background: $body_bg_color;
    border: 1px solid $bg_dark_2;
  }
  .search-progress__title {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -12px);
    z-index: 10;
    color: $font_color5;
    font-family: $font_family2;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    @media (min-width: 1200px) {
      font-size: 21px;
      transform: translate(-50%, -17px);
    }
  }
  //.search-progress__value {}
}

.fsi-btn {
  width: 100%;
  max-width: 256px;
  margin: 7px auto 0;
  @media (min-width: 1200px) {
    margin: 15px 0 0;
    max-width: 330px;
  }
}
