.splide {
  cursor: grab;
  &.is-grab {
    cursor: grabbing;
  }
}

.splide__arrows {
  position: absolute;
  bottom: -60px;
  width: 100%;
  padding: 0 20px;
  // left: 50%;
  // margin-left: -45px;
  @media (min-width: 1200px) {
    padding: 0;
    bottom: -60px;
  }
}
.splide__arrow {
  border: none;
  background: transparent;
  width: 45px;
  height: 16px;
  padding: 0;
  @media (min-width: 1200px) {
    width: 142px;
    height: 24px;
  }
  svg {
    fill: $btn_bg_color;
  }
  &:hover {
    svg {
      fill: $btn_bg_color_hover;
    }
  }
  //&.splide__arrow--prev {}
  &.splide__arrow--next {
    position: absolute;
    right: 20px;
    @media (min-width: 1200px) {
      right: 0;
    }
    svg {
      transform: scaleX(-1);
    }
  }
}

.splide__pagination {
  padding-left: 0;
  overflow: hidden;
  height: 13px;
  @media (min-width: 1200px) {
    height: 20px;
  }
}

.splide__pagination__page {
  background: $bg_light_1;
  border: 1px solid $bg_light_1;
  border-radius: 100px;
  display: inline-block;
  width: 30px;
  height: 10px;
  margin: 0 7px;
  padding: 0;
  position: relative;
  transition: background-color .2s ease, border-color .2s ease;
  @media (min-width: 1200px) {
    width: 42px;
    height: 10px;
    margin: 0 10px;
  }

  &.is-active {
    background: $btn_bg_color;
    border-color: $bg_dark_2;
  }
}

.splide_up {
  .splide__pagination {
    height: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -70px);
    width: 90%;
    @media (min-width: 1200px) {
      width: 100%;
      transform: none;
      position: static;
      margin-top: 15px;
    }
  }

  .splide__pagination__page {
    width: 30px;
    height: 10px;
    margin: 0 15px;
    @media (min-width: 1200px) {
      width: 30px;
      height: 10px;
      margin: 0 15px;
    }
  }
}

.splide_ulist {
  .splide__pagination {
    position: absolute;
    left: 0;
    top: 27px;
    @media (min-width: 1200px) {
      top: 52px;
    }
  }

  .splide__arrows {
    bottom: -43px;
    padding: 0;
    @media (min-width: 1200px) {
      bottom: -86px;
    }
  }
  .splide__arrow {
    &.splide__arrow--next {
      right: 0;
    }
  }
}

.splide_ulist-extra {
  .splide__pagination {
    display: none;
  }
  .splide__arrows {
    bottom: -18px;
    padding: 0;
    @media (min-width: 1200px) {
      width: 395px;
      bottom: 80px;
      left: -470px;
    }
    @media (min-width: 1400px) {
      width: 444px;
      bottom: 80px;
      left: -564px;
    }
  }
  .splide__arrow {
    &.splide__arrow--next {
      right: 0;
    }
  }

  &.splide_ulist-extra-login {
    .splide__pagination {
      display: block;
      height: 20px;
      position: absolute;
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
      @media (min-width: 1200px) {
        top: -88px;
        left: 0;
        transform: none;
      }
    }

    .splide__arrows {
      bottom: -18px;
      padding: 0;
      @media (min-width: 1200px) {
        width: 100%;
        left: auto;
        bottom: -25px;
      }
    }
  }

}

.splide_fback {
  .splide__pagination {
    height: 20px;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    @media (min-width: 1200px) {
      width: auto;
      top: auto;
      bottom: -56px;
      left: 0;
      transform: none;
    }
  }
  .splide__arrows {
    bottom: -43px;
    padding: 0;
    @media (min-width: 1200px) {
      bottom: -86px;
    }
  }
  .splide__arrow {
    &.splide__arrow--next {
      right: 0;
    }
  }
}
