h1 {
  font-family: $font_family2;
  font-weight: 900;
  font-size: 23px;
  line-height: 1.3;
  color: $font_color;
  margin: 19px 0;
  text-align: center;
  text-transform: uppercase;
  @media (min-width: 330px) {
    font-size: 24px;
  }
  @media (min-width: 1200px) {
    font-size: 43px;
    margin: 25px 0 50px;
  }
}

h2 {
  font-family: $font_family2;
  font-weight: 700;
  font-size: 27px;
  line-height: 1;
  color: $font_color;
  margin-bottom: 30px;
  margin-top: 0;
  text-align: left;
  text-shadow: 3px 2px $font_color2;
  @media (min-width: 1200px) {
    font-size: 76px;
    line-height: 1;
    margin-bottom: 68px;
    text-shadow: 5px 6px $font_color2;
  }

  &.h2_dark {
    color: $bg_dark_1;
  }

}

h3 {
  font-family: $font_family;
  font-weight: 700;
  color: $font_color;
  font-size: 16px;
  line-height: 39px;
  margin-top: 32px;
  margin-bottom: 7px;
  text-transform: uppercase;
  @media (min-width: 992px) {
    font-size: 22px;
    line-height: 39px;
    margin-top: 80px;
    margin-bottom: 19px;
  }
}

p {
  line-height: 30px;
  margin-bottom: 1rem;
  @media (min-width: 992px) {
    line-height: 36px;
    margin-bottom: 2rem;
  }
  b {
    &.bmark {
      font-weight: 700;
      font-family: $font_family;
    }
  }
}

a {
  color: $link_color;
  text-decoration: none;
  &:hover {
    color: $link_hover_color;
    text-decoration: none;
  }
  &:active {
    color: $link_active_color;
    text-decoration: none;
  }
}
