$userprofile-img-width: 280px;
$userprofile-img-height: 278px;
$userprofile-img-width-lg: 538px;
$userprofile-img-height-lg: 486px;
$userprofile-img-width-xl: 538px;
$userprofile-img-height-xl: 486px;

$userprofile-img-wrap-width: 280px;
$userprofile-img-wrap-height: 278px;
$userprofile-img-wrap-width-lg: 538px;
$userprofile-img-wrap-height-lg: 486px;
$userprofile-img-wrap-width-xl: 538px;
$userprofile-img-wrap-height-xl: 486px;

.userprofile {
  padding-top: 12px;
  position: relative;
  @media (min-width: 1200px) {
    background: none;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}

.userprofile__photo {
  margin: 0 auto;
  position: relative;
  width: $userprofile-img-wrap-width;
  max-width: $userprofile-img-wrap-width;
  //overflow: hidden;
  @media (min-width: 322px) {
    width: $userprofile-img-wrap-width + 2px;
    max-width: $userprofile-img-wrap-width + 2px;
  }
  @media (min-width: 1200px) {
    padding: 0;
    width: $userprofile-img-wrap-width-lg;
    max-width: $userprofile-img-wrap-width-lg;
    margin: 0;
    transform: translateX(1px);
  }
}

.userprofile__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $userprofile-img-width;
  max-width: $userprofile-img-width;
  height: $userprofile-img-height;
  max-height: $userprofile-img-height;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
  @media (min-width: 322px) {
    width: $userprofile-img-width + 2px;
    max-width: $userprofile-img-width + 2px;
  }
  @media (min-width: 1200px) {
    width: $userprofile-img-width-lg;
    max-width: $userprofile-img-width-lg;
    height: $userprofile-img-height-lg;
    max-height: $userprofile-img-height-lg;
  }

  &::before {
    content: '';
    background-image: url('../img/bg/mask-profile-mob.svg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: auto;
    width: $userprofile-img-wrap-width;
    max-width: $userprofile-img-wrap-width;
    height: $userprofile-img-wrap-height;
    max-height: $userprofile-img-wrap-height;
    @media (min-width: 322px) {
      width: $userprofile-img-wrap-width + 2px;
      max-width: $userprofile-img-wrap-width + 2px;
    }
    @media (min-width: 1200px) {
      width: $userprofile-img-wrap-width-lg;
      max-width: $userprofile-img-wrap-width-lg;
      height: $userprofile-img-wrap-height-lg + 2px;
      max-height: $userprofile-img-wrap-height-lg + 2px;
      background-image: url('../img/bg/mask-profile.svg');
    }
  }
}

.userprofile__btn {
  display: block;
  margin: 20px auto 25px;
  padding: 19px 10px;
  font-size: 17px;
  @media (min-width: 1200px) {
    font-size: 19px;
    padding: 20px 10px;
    width: auto;
    margin: 16px 0 25px;
  }
}

.userprofile__info {
  width: 100%;
  max-width: 278px;
  margin: 0 auto;
  background-color: $bg_light_3;
  border-radius: 0 0 26px 26px;
  padding: 0 0 28px;
  @media (min-width: 322px) {
    max-width: 280px;
  }
  @media (min-width: 1200px) {
    max-width: none;
    margin: 9px 0 0;
    padding: 37px 70px 37px 50px;
    border-radius: 0 50px 50px 0;
  }
}

.userprofile__data {
  padding: 23px 20px 0;
  @media (min-width: 1200px) {
    padding: 0;
  }
  @media (min-width: 1650px) {
    max-width: 336px;
    width: 336px;
  }
}

.userprofile__row {
  line-height: 1.2;
  margin-bottom: 17px;
  text-align: center;
  @media (min-width: 1200px) {
    text-align: left;
    margin-bottom: 20px;
  }
}

.userprofile__name {
  font-family: $font_family;
  color: $font_color5;
  font-weight: 700;
  font-size: 21px;
  margin: 0 0 6px 0;
  letter-spacing: 2px;
  @include overflow-ellipsis;
  @media (min-width: 1200px) {
    font-size: 30px;
    margin: 0 0 4px 0;
  }
}

.userprofile__sep {
  @media (min-width: 1200px) {
    width: 8px;
    height: 8px;
    background-color: $body_bg_color;
    margin: 0 16px;
  }
}

.userprofile__loc {
  font-family: $font_family;
  color: $font_color6;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 2px;
  @include overflow-ellipsis;
  @media (min-width: 1200px) {
    font-size: 17px;
  }
}

.compatibility {
  margin: 0 auto;
  @media (min-width: 1200px) {
    margin: 0;
    width: auto;
    max-width: none;
  }
  &.compatibility_mb {
    padding-bottom: 76px;
    @media (min-width: 1200px) {
      padding-bottom: 54px;
    }
  }
  .compatibility__chart {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // .progress-title {
  //   font-family: $font_family;
  //   font-weight: 300;
  //   font-size: 15px;
  //   text-align: center;
  //   margin-bottom: 10px;
  //   @include overflow-ellipsis;
  //   @media (min-width: 1200px) {
  //     font-size: 23px;
  //     margin-bottom: 13px;
  //   }
  // }
  .compatibility__progress {
    &.progress {
      border-radius: 100px;
      background-color: transparent;
      border: none;
      position: relative;
      border: 1px solid $bg_dark_2;
      width: 60px;
      height: 25px;
      @media (min-width: 1200px) {
        width: 65px;
        height: 25px;
      }
      .progress-bar {
        color: $bg_light_1;
        font-weight: 500;
        font-size: 13px;
        border-radius: 100px;
        background-color: $bg_light_2;
        border: 1px solid $bg_dark_2;
        @media (min-width: 1200px) {
          font-size: 17px;
        }
        .progress-title {
          position: absolute;
          width: 100%;
          text-align: center;
          top: 7px;
          @media (min-width: 1200px) {
            top: 7px;
          }
        }
      }
    }
  }

  .compatibility__title {
    font-family: $font_family;
    color: $font_color6;
    font-weight: 400;
    font-size: 14px;
    margin-top: 6px;
    text-align: center;
    @media (min-width: 1200px) {
      //text-align: left;
      font-size: 17px;
      margin-top: 1px;
    }
  }

  &.compatibility_list {
    margin: 0;
    width: auto;
    max-width: none;

    .compatibility__progress {
      &.progress {
        width: 44px;
        height: 15px;
        @media (min-width: $user_list_item_breakpoint) {
          width: 50px;
          height: 20px;
        }
      }
    }

    .compatibility__title {
      font-size: 11px;
      margin-top: 4px;
      @media (min-width: $user_list_item_breakpoint) {
        font-size: 13px;
        margin-top: 10px;
      }
    }
  }

  //&.compatibility_login {}
}

.user-profile-title { //Compability score
  font-family: $font_family;
  color: $font_color5;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 21px;
  text-align: center;
  @include overflow-ellipsis;
  @media (min-width: 992px) {}
  @media (min-width: 1200px) {
    font-size: 32px;
    margin-bottom: 41px;
    text-align: left;
  }
  &.user-profile-title_about { //About girl
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 8px;
    @media (min-width: 992px) {}
    @media (min-width: 1200px) {
      font-size: 23px;
      margin-bottom: 15px;
    }
  }
}

.user-profile-about {
  color: $font_color7;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  position: relative;
  padding: 0 20px 0;
  margin: 0 auto;
  text-align: center;
  @media (min-width: 1200px) {
    text-align: left;
    background-color: transparent;
    font-size: 17px;
    max-width: 100%;
    padding: 0;
    height: 118px;
  }
  p {
    line-height: 25px;
    margin-bottom: 0;
    @media (min-width: 992px) {
      line-height: 25px;
    }
  }
}
