$container-xxxl:            1580px + 30px;
$body_bg_color:             #2E2E2E;
$btn_bg_color:              #0035BC;
/**/$btn_bg_color_hover:        #FFDD77;
/**/$btn_bg_color_active:       #FFE927;
$bg_dark_1:                 #2E2E2E;
/**/$bg_dark_2:                 #000;
$bg_light_1:                #F5F4EB;
/**/$bg_light_2:                #FE91E8;
/**/$bg_light_3:                #E4E7EE;
/**/$bg_light_4:                #D3D3D3;
/**/$bg_light_5:                #FFDEF8;
/**/$font_color:                #F9F5F2;
$font_color0:               #000000;
$font_colorF:               #FFFFFF;
/**/$font_color2:               #000000;
/**/$font_color3:               $body_bg_color;
/**/$font_color4:               #527EFF;
/**/$font_color5:               #322C0C;
/**/$font_color6:               #828282;
/**/$font_color7:               #4F4F4F;
/**/$font_color8:               #393834;
$font_family:               "CeraPro", sans-serif;
$font_family2:              "CeraPro", sans-serif;
$font_weight:               400;
$font_size:                 22px;
$font_size_mobile:          13px;
$body_mb:                   10px;
$body_mb_lg:                10px;
$body_mb_xs:                50px;
/**/$link_txt_family:           $font_family;
/**/$link_color:                $font_color;
/**/$link_hover_color:          $font_color4;
/**/$link_active_color:         $font_color5;

$footer_height:             170px;
$footer_height_lg:          170px;
$footer_height_xs:          300px;
$footer_text_color:         $bg_light_1;
$footer_text_color_hover:   $font_colorF;
$footer_text_color_active:  $font_colorF;

/**/
@mixin circle($diameter, $background-color) {
  width: $diameter;
  height: $diameter;
  background-color: $background-color;
  border-radius: 100%;
}

@mixin overflow-ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
